/*--------------------------------------------------------------------------
|  Header
--------------------------------------------------------------------------*/
.menu-container {
    background: var(--color-highlight);
}

.slogan-page {
    font-size: calc(3rem + 1vw);
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Rowdies", sans-serif;
    color: var(--color-highlight2);
    text-shadow: -3px 3px 0px var(--color-highlight);
    line-height: 1.5;
    margin: 0;
}

.box-order {
    padding: 1rem 0;
    background-size: 100%;
    background-position: center;
    text-align: center;
    color: white;
}

.time-open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-open img {
    margin-right: 1rem;
}

.hotline {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
}

.hotline span, .hotline span a {
    font-size: calc(1.8rem + .8rem);
    color: var(--color-highlight);
    margin-left: .5rem;
    font-family: "Rowdies", sans-serif;
}

.box-time {
    text-align: left;
}

.box-time p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}
/*--------------------------------------------------------------------------
|  Main
--------------------------------------------------------------------------*/
.bg-row-menu {
    background: #f5f0cf;
}

.product-item--cate {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.prd-cate-title {
    text-align: center;
}

.prd-cate-title span {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Rowdies", sans-serif;
    background: var(--color-highlight2);
    color: white;
    padding: 1rem;
    display: inline-block;
}

.bg-content {
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
}

.product-item-home .inner-content {
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.product-item-home .product-title {
    font-size: 2.4rem;
    padding: 1.5rem 2rem;
}

.product-item-home .product-title a {
    color: white;
}

.product-item-home .price {
    position: absolute;
    right: 3rem;
    bottom: -3rem;
    padding: 1.5rem;
    font-size: calc(1.5rem + .8rem);
    font-weight: bold;
    min-height: 8.7rem;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.product-item-home .price .price-text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.13);
    transform: rotate(-90deg);
    white-space: nowrap;
    font-weight: bold;
}

.product-item-home .price .price-amount {
    color: var(--color-highlight2);
    margin: 0;
    font-weight: bold;
    text-shadow: -1px 1px 0px #ffffff;
}

.product-item-home .price .price-item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
}

.product-item-home .price .price-amount.old-price {
    color: var(--color-text);
    font-size: 1.5rem;
}

.product-item .price {
    font-size: 1.8rem;
}

.product-item-home .price .currency-symbol {
    font-family: "Libre Barcode 128 Text", system-ui;
    transform: rotate(-90deg);
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 0;
}

.product-item-home .price:before, .product-item-home .price:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.product-item-home .price:before {
    left: 0;
    background-image: radial-gradient( circle at 0 50%, transparent 15px, var(--color-highlight) 15px );
    width: 75%;
}

.product-item-home .price:after {
    right: 0;
    background-image: radial-gradient(circle at 100% 50%, transparent 15px, #ffffff 15px);
    width: 28%;
}

.content_about {
    padding: calc(4rem + .8vw);
    background: white;
    border-radius: 50% 20% / 10% 40%;
    text-align: center;
    position: relative;
}

.content_about .info {
    text-align: justify;
}

.intro-title a {
    color: var(--color-highlight2);
}

.content_about .after-intro {
    position: absolute;
    bottom: 0;
    right: 0;
}

.title-contact-bottom {
    font-size: calc(3rem + 1vw);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 3rem;
}

.title-contact-bottom span {
    font-family: "Rowdies", sans-serif;
    color: var(--color-highlight2);
    text-shadow: -3px 3px 0px var(--color-highlight);
    font-size: calc(4rem + 1vw);
}

.contact-bottom address {
    font-size: 1.8rem;
    font-weight: bold;
}

.contact-bottom address span, .contact-bottom address span a {
    font-family: "Rowdies", sans-serif;
    color: var(--color-highlight2);
    text-shadow: -3px 3px 0px var(--color-highlight);
    font-size: calc(1.6rem + 1vw);
}

.bg-highlight2 {
    background: var(--color-highlight2);
}

.title-page {
    font-size: 2rem;
}

/* chi nhanh */
.branch-box {
    background: whitesmoke;
    padding: 1rem;
    max-height: 43rem;
    overflow-y: scroll;
}

.branch-box::-webkit-scrollbar {
    width: .5em;
}

.branch-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.branch-box::-webkit-scrollbar-thumb {
    background-color: var(--color-highlight2);
}

.branch-box .nav-item .nav-link.active {
    background: var(--color-highlight2);
    color: white !important;
}

.branch-box .item {
    border: 1px solid var(--color-highlight2);
    padding: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.branch-box .item.active, .branch-box .item:hover {
    background: var(--color-highlight2);
    color: white;
}

.branch-section {
    background: var(--color-highlight2);
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
/*--------------------------------------------------------------------------
|  Footer
--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
|  Responsive
--------------------------------------------------------------------------*/
.is-mobile .menu-container {
    float: right;
}


@media (max-width: 500px) {
    header .row-align-center > div > .row > div:nth-child(1){
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    header .row-align-center > div > .row > div:nth-child(2){
        flex: 0 0 70%;
        max-width: 70%;
    }
}